<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
    
    {% block 'navbar' %}
    {% include 'navbar.html' %}
    {% endblock %}


    <div class=" gradient-custom">
    <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
  
      <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
        <div class="col-md-9 col-lg-9 col-xl-7">
  
          <div class="card mb-4 " style="border-radius: 25px;">
            <div class="card-body p-4">
  
              <div id="demo1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-between mb-4 pb-2">
                      <div>
                        <h2 class="display-2"><strong>{{info.celcius}}°C</strong></h2>                
                        <p class="text-muted mb-0">{{info.name}}, {{info.country}} | {{info.description | title}}</p>
                        <p class="text-muted mb-0">Min: {{info.min}} C° - Max: {{info.min}} C°</p>
                      </div>
                      <div>
                        <img class="me-5" src="{{info.img}}"width="140px">
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </di>      
        </div>
      </div>
  
    </div>
    </section>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
