{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
        <!-- Container wrapper -->
        <div class="container-fluid">
        <!-- Navbar brand -->

    
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
            <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                <div>
                    <i class="fas fa-home fa-lg mb-1"></i>
                </div>
                Home
                </a>
            </li>
            <a class="navbar-brand my-auto ms-3" href="{%  url 'main' %}">Weather App</a>
            </ul>
            <!-- Left links -->
    
    
            <!-- Search form -->
            {% if user.is_authenticated %}
                <form method="post" class="d-flex  w-auto ms-lg-3 my-3 my-lg-0">
                    {% csrf_token %}
                    <input name="city" type="text" class="form-control" placeholder="Ingresa la ciudad" aria-label="Search" />
                    <button class="btn btn-outline-white" type="submit" data-mdb-ripple-color="dark">
                        <p class="my-auto text-light">Buscar</p>
                    </button>
                </form>
                <a href="/accounts/logout">
                    <button class="btn btn-outline-white" type="button" data-mdb-ripple-color="dark">
                        <p class="my-auto text-light">Logout</p>
                    </button>
                </a>
            {% endif %}
        </div>
        <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
<!-- Navbar -->

{% endblock %}